.card {
  position: relative;
  padding: 20px;
  margin: 10px;
  background-color: #F8F9D7;
  color: black;
  border-radius: 12px;
  width: 300px;

  p {
    font-size: 14px;
    word-break: break-word;
  }

  i.remove {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
